#bigContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 25%;
    align-items: center;

}

#postContainer{
    display: flex;
    flex:1;
    flex-direction: column;
    margin:10% 10% 10% 2%;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#postImg{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.postElmnt{
    color: #222;
}