.formContainer{
    display: flex;
    justify-content: center;
    background-color: #a25267;
}

form{
    display: flex;
    padding: 32px;
    justify-content: space-around;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
}

.loginInput{
    border:none;
    box-sizing: border-box;
    padding: 31px 8px 15px;
    outline: none;
    display: block;
    border-radius: 2px;
}

#btn{
    padding: 20px;
    transition: .1s;
    box-sizing: border-box;
    border: transparent 2px solid;
    cursor: pointer;
    border-radius: 6px;
}

#btn:hover{
    box-sizing: border-box;
    background-color: aliceblue;
    border: #aaaaaa 2px solid;

}

#btn:active{
    background-color: #cccccc;
}