h2{
    color: #ffffff;
}

.formContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4a474;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    display: flex;
    padding: 32px;
    justify-content: space-around;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
}

.loginInput{
    border:none;
    box-sizing: border-box;
    padding: 31px 8px 15px;
    outline: none;
    display: block;
    border-radius: 2px;
}

.loginInput::placeholder{
    font-size: 16px;
}

#btn{
    padding: 20px;
    transition: .1s;
    box-sizing: border-box;
    border: transparent 2px solid;
    cursor: pointer;
    border-radius: 6px;
}

#btn:hover{
    box-sizing: border-box;
    background-color: aliceblue;
    border: #aaaaaa 2px solid;

}

#btn:active{
    background-color: #cccccc;
}

.registerLink{
    color: #dddddd;
    text-decoration: none;
    font-weight: 600;
}

.registerLink:hover{
    color: #ffffff;
}

@media (max-width: 1250px){
    form{
       width: 80vw; 
       height: 40vh;
       padding:20px 10px;
    }
}